<div class="col-md-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/Home/Books"> <img src="~/images/topbooks.jpg" class="img-responsive" /> </a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:5px">
        <div class="row">
            <div class="col-md-12">
                <a href="/Home/Videos"> <img src="~/images/topyoutube.jpg" class="img-responsive" /> </a>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top:5px">
        <div class="row">
            <div class="col-md-12">
                <div class="fb-page" data-href="https://www.facebook.com/wordpowerswahili" data-tabs="timeline" data-width="500" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/wordpowerswahili"><a href="https://www.facebook.com/wordpowerswahili">Word Power Swahili</a></blockquote></div></div>
            </div>
        </div>
    </div>
</div>
