

@section metatags
{
<meta property="og:url" content="http://www.wordpowerswahili.org/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Word Power Swahili" />
<meta property="og:description" content="Word Power Swahili is suitable for tourist visiting Southeast Africa, including Tanzania, Kenya, Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of Congo. Our highly recommended Top 32 swahili learning books." />
<meta property="og:image" content="http://www.wordpowerswahili.org/images/banner.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="960" />
<meta property="og:image:height" content="540" />
}

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" style="background-color:#094ba2;color:white;padding:25px">


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1 style="color:white">Word Power Swahili</h1>
                <p class="lead">
                    is suitable for tourist/expact visiting Southeast Africa, including Tanzania, Kenya, Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of Congo.
                </p>
                <p class="lead">
                    <ul class="nav">
                        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> Help to communicate with locals</strong> </li>
                        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> English to Swahili Translation</strong> </li>
                        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> Swahili to English Translation</strong> </li>
                    </ul>
                </p>

            </div>
            <div class="col-md-4 col-sm-12">

                <div class="col-md-12 col-sm-12">
                    <div class="row stylish-panel">
                        <div class="col-md-12">
                            <div>

                                <img src="~/images/Present-icon.png" alt="" class="img-circle img-thumbnail">
                                <h4 style="white-space:pre-wrap;"> Wanna Help?</h4>
                                <p style="white-space:pre-wrap;font-size :12px">Word Power Swahili is free tool, but if you would like to encourage its development please consider making a donation.</p>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="62TPXMXCHBNPE">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>*@


<div class="row no-gutters">
    <div class="col-md-9">
        <div class="container">
            <div class="row stylish-panel no-gutters">
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Greetings" class="btn btn-default">
                            <img src="~/images/Greetings.png" alt="Greetings" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Greetings / Maamkizi</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Someusefulexpressions" class="btn btn-default">
                            <img src="~/images/Someusefulexpressions.png" alt="Some useful expressions" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap">Some useful expressions / Misemo Muhimu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Number" class="btn btn-default">
                            <img src="~/images/Number.png" alt="Number" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Number / Nambari</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Time" class="btn btn-default">
                            <img src="~/images/Time.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Time / Nyakati</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/DayOfTheWeek" class="btn btn-default">
                            <img src="~/images/DayOfTheWeek.png" alt="Day Of The Week" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Day Of The Week / Siku Za Wiki</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Months" class="btn btn-default">
                            <img src="~/images/Months.png" alt="Months" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Months / Miezi</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row stylish-panel no-gutters">
                <div class="col-md-12 hidden-sm hidden-md hidden-xs">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- wpsweb -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-7598693767275556"
                         data-ad-slot="6188929029"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="col-sm-12 hidden-md hidden-lg">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- wpsweb05 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7598693767275556"
                         data-ad-slot="3929585820"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

            <div class="row stylish-panel no-gutters">
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Seasons" class="btn btn-default">
                            <img src="~/images/Seasons.png" alt="Seasons" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Seasons / Majira</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Transportation" class="btn btn-default">
                            <img src="~/images/Transportation.png" alt="Transportation" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap">Transportation / Usafiri</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/People" class="btn btn-default">
                            <img src="~/images/People.png" alt="People" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> People / Watu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Workers" class="btn btn-default">
                            <img src="~/images/Workers.png" alt="Workers" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Workers / Wafanyakazi</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Clothing" class="btn btn-default">
                            <img src="~/images/Clothing.png" alt="Clothing" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Clothing / Mavazi</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/FoodstaffandFruits" class="btn btn-default">
                            <img src="~/images/FoodstaffandFruits.png" alt="Foodstaff & Fruits" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Foodstaff & Fruits / Chakula na Matunda</h4>
                        </a>
                    </div>
                </div>
            </div>



            <div class="row stylish-panel no-gutters">
                <div class="col-md-12" style="overflow: hidden;">

                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- wpsweb02 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-7598693767275556"
                         data-ad-slot="5519447828"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>
            </div>

            <div class="row stylish-panel no-gutters">
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/WeightandMeasures" class="btn btn-default">
                            <img src="~/images/WeightandMeasures.png" alt="Weight & Measures" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Weight & Measures / Uzani na Vipimo</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/DomesticAnimals" class="btn btn-default">
                            <img src="~/images/DomesticAnimals.png" alt="Domestic Animals" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Domestic Animals / Mifugo</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/WildAnimal" class="btn btn-default">
                            <img src="~/images/WildAnimal.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Wild Animal / Wanyama wa Porini</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Pests" class="btn btn-default">
                            <img src="~/images/Pests.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Pests / Wadudu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/PartsoftheBody" class="btn btn-default">
                            <img src="~/images/PartsoftheBody.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Parts of the Body / Sehemu za Mwili</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Directions" class="btn btn-default">
                            <img src="~/images/Directions.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Directions / Dira</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row stylish-panel no-gutters">
                <div class="col-md-12" style="overflow: hidden;">

                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- wpsweb03 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7598693767275556"
                         data-ad-slot="4042714620"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>
            </div>


            <div class="row stylish-panel no-gutters">
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/UsefulWord" class="btn btn-default">
                            <img src="~/images/UsefulWord.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Userful Word / Maneno Muhimu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Illness" class="btn btn-default">
                            <img src="~/images/Illness.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Illness / Magonjwa</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Signs" class="btn btn-default">
                            <img src="~/images/Signs.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Signs / Alama</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Construction" class="btn btn-default">
                            <img src="~/images/Construction.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Construction / Ujenzi</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Stationers" class="btn btn-default">
                            <img src="~/images/Stationers.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Stationers / Bookshop // Duka La Vitabu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/Subjects" class="btn btn-default">
                            <img src="~/images/Subjects.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Subjects / Somo</h4>
                        </a>
                    </div>
                </div>

            </div>


            <div class="row stylish-panel no-gutters">
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/ContinentsandEnvironment" class="btn btn-default">
                            <img src="~/images/ContinentsandEnvironment.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Continents & Environment / Bara za Ulimwengu Na Mazingira</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/CommonItem" class="btn btn-default">
                            <img src="~/images/CommonItem.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Common Items / Vyombo Mbalimbali</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/color" class="btn btn-default">
                            <img src="~/images/color.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Color / Rangi</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a href="/words/list/MathematicalSigns" class="btn btn-default">
                            <img src="~/images/MathematicalSigns.png" alt="" class="img-circle img-thumbnail">
                            <h4 style="white-space:pre-wrap;"> Mathematical Signs / Alama Za Hesabu</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    @* <div class="fb-page" data-href="https://www.facebook.com/Word.Power.Swahili/" data-tabs="events" data-width="300" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Word.Power.Swahili/"><a href="https://www.facebook.com/Word.Power.Swahili/">Word Power Swahili</a></blockquote></div></div>*@
                </div>
                @* <div class="col-md-2">
                        <div>
                            <a href="/words/list/" class="btn btn-default">
                                <img src="~/images/" alt="" class="img-circle img-thumbnail">
                                <h4 style="white-space:pre-wrap;"> </h4>
                            </a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    @Html.Partial("_LoginRight")

</div>
<!-- /container -->
