@section metatags
{
    <meta property="og:url" content="http://www.wordpowerswahili.org/home/index" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Word Power Swahili" />
    <meta property="og:description" content="Word Power Swahili is suitable for tourist visiting Southeast Africa, including Tanzania, Kenya, Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of Congo. It’s help you to communicate with locals for your daily activities. If you have any plan to give a visit to Southeast Africa, then it’s a good place to start." />
    <meta property="og:image" content="http://www.wordpowerswahili.org/images/banner.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="960" />
    <meta property="og:image:height" content="540" />
}
@{
    ViewBag.Title = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Songs</h2>

