@section metatags
{
    <link rel="canonical" href="http://www.wordpowerswahili.org/home/Videos" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Videos - Word Power Swahili" />
    <meta property="og:description" content="Word Power Swahili is suitable for tourist visiting Southeast Africa, including Tanzania, Kenya, Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of Congo. It’s help you to communicate with locals for your daily activities." />
    <meta property="og:url" content="http://www.wordpowerswahili.org/home/Videos" />
    <meta property="og:site_name" content="Videos - Word Power Swahili" />
    <meta property="og:image" content="http://www.wordpowerswahili.org/images/fbVideos.jpg" />
    <meta property="fb:app_id" content="246107605737575" />
    <meta property="og:locale:alternate" content="en_US" />
}
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color:#535676;color:white;margin:0px">
    <div class="row">
        <div class="col-md-24" style="padding:10px">
            <h1 style="color:white">Top Youtube Videos</h1>
            <p class="lead">
                Our highly recommended Swahili learning youtube videos.
            </p>
            <div class="fb-share-button" data-href="http://wordpowerswahili.org/Home/Videos" data-layout="box_count" data-mobile-iframe="true"></div>

        </div>

    </div>
</div>

<div class="row" style="margin:0px;background-color:#f49d81">
    <div class="col-md-24">


        <div class="row " style="margin-top:10px;">
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/5ya2ip1-mfc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/AkkuGkjvlGY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/pyfKoI1dNNM" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-24" style="overflow: hidden;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- wpsweb05 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7598693767275556"
                     data-ad-slot="3929585820"
                     data-ad-format="auto"></ins>
                <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

        <div class="row " style="margin-top:10px;">
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/HQv6QJHLmDA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/J3oI3yihkNw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/7LAXn_chF70" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-24" style="overflow: hidden;">

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- wpsweb04 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7598693767275556"
                     data-ad-slot="5519447828"
                     data-ad-format="auto"></ins>
                <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/MOVpF-g_4R8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/xA8bcjf5ktk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/TWGg5EcB0cQ" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-24" style="overflow: hidden;">

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- wpsweb03 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7598693767275556"
                     data-ad-slot="4042714620"
                     data-ad-format="auto"></ins>
                <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/1MMPd4CM-uw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/IUjpXWPaWE0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8" style="text-align:center">
                <iframe width="340" height="315" src="https://www.youtube.com/embed/f8oJaveKFBg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row " style="margin-top:10px">
            <div class="col-md-23">
                <div class="fb-comments" data-href="http://www.wordpowerswahili.org/Home/Videos" data-width="100%" data-numposts="20"></div>
            </div>
        </div>

    </div>
</div>
